# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '22.17.1'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
  displayName: 'npm install'

- script: |
    ng build --configuration production
  displayName: 'ng build'

- task: AzureStaticWebApp@0
  inputs:
    app_location: '/'
    output_location: 'dist/web-admin'
    skip_app_build: true
    azure_static_web_apps_api_token: '$(SWA_TOKEN)'